
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link href="styles/freelancer.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/javascript/semantic.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="../js/jquery-1.11.3.min.js"></script>
  <script src="../js/highcharts/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/treemap.js"></script>
  <script src="../js/highcharts/modules/exporting.src.js"></script>
  <script src="../js/papaparse.min.js"></script>
  <script src="../js/graph_page.js"></script>
  <script src="../js/renewable_energy_by_country_graph.js"></script>
  <script src="../js/fuel_consumption.js"></script>


  <title> Zeo's Statistics Project</title>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Zeo's Statistics Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
        <a href="/"></a>
        </li>
        <li class="page-scroll">
        <a href="/" class="item">About</a>
        </li>
        <li class="page-scroll">
        <a href="/tables" class="item">Data Table</a>
        <!-- <a href="#about">About</a> -->
        </li>
        <li class="page-scroll">
        <a href="/graphs" class="item">Graphs</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </nav>

  <section id="datatable-container" class="">
    <div class="container">
      <h1 class="ui header">Graphs</h1>

      <div id="test"></div>

      <div id="renewable_energy_container" style="min-width: 310px; height: 800px; margin: 0 auto">
      </div>  

      <div id="fuel_consumption_container" style="min-width: 310px; height: 800px; margin: 0 auto">
      </div>  

      <p>Use this document as a way to quickly start any new project.</p>
      <p><b>All you get is this text and a mostly barebones disfigured the momentum no the "write" moment of all </b></p>
    </div>
  </div>
</section>

</body>
</html>
